---
layout: default
---
{% if page.wide %}
<article class="article--wide">
  <div class="article__body">
    {{ content }}
  </div>
</article>
{% else %}
  {% assign has_image = false %}
  {% if page.image %}{% assign has_image = true %}{% endif %}
  {% if content contains '<img' %}{% assign has_image = true %}{% endif %}
  {% if has_image %}
    <div class="doc">
      <div class="doc__media">
        {% if page.image %}<img src="{{ page.image | relative_url }}" alt="{{ page.title }}">{% endif %}
      </div>
      <div class="doc__main">
        {% include post-content.html %}
      </div>
    </div>
  {% else %}
    <article class="article-center">
      {% include post-content.html %}
    </article>
  {% endif %}
{% endif %}
